%h1 prototype-A
%p
  このサイトは
  戦闘結果生成システムのプロトタイプです。
%br

= #javascript_pack_tag 'hello_vue'

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 戦闘結果
          %ul  
            %li= link_to "戦闘結果生成", top_page_make_battle_log_path
      .col-md-6

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 20--/-/-
      %ul
        %li サイト公開
