%h1 prototype-A
%p
  このサイトは
  戦闘結果生成システムのプロトタイプです。
%br

= javascript_pack_tag 'hello_vue'
.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
      .col-md-6
        %ul
          %li 結果データ
          %ul  
            %li= link_to "戦闘結果生成", top_page_make_battle_log_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 20--/-/-
      %ul
        %li サイト公開
